/**
 * Title: base-layout.component.css
 * Author: Professor Krasso
 * Date: 21 March 2021
 * Modified By: Juvenal Gonzalez
 * Description: all css styling for the base-layout component
 */


.logo {
  text-align: end;
    font-size: 24px;
    font-weight: lighter;

  }

  .navbar-container {
    padding: 5px;
    text-align: end;

  }

  .navbar-link {
    font-size: 24px;
    font-weight: lighter;
  }

  .main-content {
    padding-left: 30px;

  }

  .footer {
    bottom: 0;
    position: absolute;
    width: 100%;
  }

  .footer-content {
    font-size: 16px;
    font-weight: lighter;
    padding-left: 100px;
    letter-spacing: 3px;
  }

  .bu-link {
    text-decoration: none;
  }

  .bu-link:hover {
    text-decoration: underline;
  }


.mat-toolbar {
  justify-content: flex-end;
}


nav {
    margin-top: 10px;
}
