<!--
 * Title: base-layout.component.html
 * Author: Professor Krasso
 * Date: 4 April 2021
 * Modified By: Juvenal Gonzalez
 * Description: hyperlink markup for base-layout component
-->


<!--Parent Route that leads to child routes upon authorization-->

<div fxLayout="column" >

    <!-- navigation -->
    <nav fxFlex >
      <mat-toolbar >
        <!-- navbar container -->
        <div class="navbar-container"  fxLayoutAlign="end none">
          <!-- logo -->

           <!--alternates the navigation about based on what page is currently being accessed-->
          <button class="logo"  mat-button (click)='navChange()'>{{text}}</button>
                                                   <!--Logs out user and navigates back to login component-->
          <button class="navbar-link" routerLink="/session/login" mat-button (click)='logOut()'>Log Out</button>
        </div>

      </mat-toolbar>
    </nav>

    <!-- main content -->
    <div fxFlex>
      <main class="main-content" fxFlex="100%;">
        <router-outlet></router-outlet>
      </main>
    </div>

    <!-- footer -->
    <div fxFlex>
      <footer class="footer">
        <mat-toolbar class="footer-content">
          <p>
            &copy; {{year | date: 'yyyy'}} - nodebucket - <a href="https://www.bellevue.edu/" class="bu-link" target="_blank">Bellevue University</a>
          </p>
        </mat-toolbar>
      </footer>
    </div>

  </div>
